<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.application.config.application_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "d-flex flex-column h-100">
    <header>
      <%= render "layouts/navbar/navbar" %>
    </header>

      <div class ="container">
        <%= yield %>

      </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>  
    <%= render "layouts/footer/footer" %>

    <%# javascript section %>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>feather.replace()</script>
  </body>
</html>
